

.user label {
  display: block;
  font-weight: bold;
}

.user input {
  width: 100%;
}

.user button {
  margin-top: 8px;
  color: white;
  background-color:  #510058;
  padding: 6px 16px;
  border: none;
}